.header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #1773fd;
  background-color: #273da4;
  background-image: linear-gradient(270deg, #5398ff, #1773fd, #102ba2);
}

.header-container {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.header-right-side-wrapper {
  width: 100%;
}

.header-form {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.header-form-input {
  height: 40px;
  padding-left: 5px;
  border-radius: 4px;
  border: 1px solid #ff6b0a;
  transition: all 250ms ease-in-out;
}

.header-form-input:hover,
.header-form-input:focus,
.header-form-btn:hover,
.header-form-btn:focus {
  outline: 2px solid #ff6b0a;
}

.header-form-btn {
  display: block;
  text-transform: uppercase;
  color: #273da4;
  padding: 8px 8px;
  border-radius: 4px;
  border: 1px solid #ff6b0a;
  font-size: 20px;
  font-weight: 500;
  background-color: rgb(245, 245, 245);
  transition: all 250ms ease-in-out;
}

@media only screen and (max-width: 374px) {
  .header-form-btn {
    margin: 0 auto;
    width: 100%;
    max-width: 160px;
  }
}

@media only screen and (min-width: 375px) {
  .header-right-side-wrapper {
    max-width: 375px;
  }
}

@media only screen and (min-width: 628px) {
  .header-container {
    flex-direction: row;
  }
  .header-right-side-wrapper {
    max-width: 480px;
  }
  .header-form {
    flex-direction: row;
  }
}
